<footer class="footer">
    <div class="footer__logos">
        <div class="container">
            <div class="flex-wrap">
                <a href="javascript:void(0)" class="item">
                    <img src="../img/logoImg.png" alt="">
                </a>
                <a href="javascript:void(0)" class="item">
                    <img src="../img/logoImg.png" alt="">
                </a>
                <a href="javascript:void(0)" class="item">
                    <img src="../img/logoImg.png" alt="">
                </a>
                <a href="javascript:void(0)" class="item">
                    <img src="../img/logoImg.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="footer__menu">
        <div class="container">
            <h3>Виды виз и условия въезда в Россию</h3>
            <div class="listsWrap">
                <ul>
                    <li>
                        <a href="javascript:void(0)">Экспресс-виза за 24 часа</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Помощь по заполнению анкеты</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Медицинская страховка для визы в Россию</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="javascript:void(0)">Цифровой фотосервис</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Услуги курьера</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Приглашение для визы в Россию</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="javascript:void(0)">ТОП 4 наиболее посещаемых стран</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Проверить статус заказа</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Часто задаваемые вопросы (FAQ)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__contacts">
        <div class="container">
            <div class="wrapper">
                <a href="index.html" class="footer__logo">
                    <img src="../img/logo.svg" alt="logotype">
                </a>
                <div class="block">
                    <h3>Наши контакты:</h3>
                    <div class="flex-wrap">
                        <div class="item">
                            <p>VisumBerater PLUS UG (haftungsbeschränkt)</p>
                            <p>Weydingerstraße 22 </p>
                            <p>10178 Berlin</p>
                        </div>
                        <div class="item">
                            <p>тел.: <a href="tel:+49 (0)30 2 555 9861">+49 (0)30 2 555 9861</a></p>
                            <p>моб.: <a href="tel:+49 (0)176 78 30 11 10">+49 (0)176 78 30 11 10</a></p>
                            <p>email: <a href="mailto:kontakt@visumberater.de" class="footer-email">kontakt@visumberater.de</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="subMenu">
                <li>
                    <a href="javascript:void(0)">Impressum    </a>    
                <li>
                    <a href="javascript:void(0)">AGB    </a>    
               <li>
                   <a href="javascript:void(0)"> Datenschutzerklärung</a>
            </ul>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">
            <div class="flex-wrap">
                <p>© 2016 – 2019 VisumBerater+</p>
                <ul class="subMenu">
                    <li>
                        <a href="javascript:void(0)">Impressum    </a>    
                    <li>
                        <a href="javascript:void(0)">AGB    </a>    
                    <li>
                        <a href="javascript:void(0)"> Datenschutzerklärung</a>
                </ul>
            </div>
        </div>
    </div>
</footer>