<header class="header">
    <div class="container">
        <div class="header__wrap">
            <button class="toggle-menu">
                <span class="hamburger">
                    <span class="sw-header"></span>
                    <span class="sw-topper"></span>
                    <span class="sw-bottom"></span>
                    <span class="sw-footer"></span>
                </span>
            </button>
            <a href="index.html" class="header__logo">
                <img src="../img/logo.svg" alt="logotype">
            </a>
            <div class="header__menu">
                <div class="closeMenu"></div>
                <nav>
                    <ul>
                        <li class="open-visas_instructions__popup popupLnk">
                            <a href="visa-instructions.html">Виза в Россию в 3 шага</a>
                        </li>
                        <li>
                            <a href="types-of-visas.html">Виды виз и условия въезда 
                                в Россию</a>
                        </li>
                        <li>
                            <a href="service-overview.html">Обзор услуг </a>
                        </li>
                        <li>
                            <a href="pricing.html">Цены</a>
                        </li>
                        <li class="open-contacts__popup popupLnk">
                            <a href="contacts.html">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <a href="order-status.html" class="orderStatus">Статус заказа</a>
                <a href="tel:+4903025559861" class="header__phone">+49 (0)30 2 555 9861</a>
            </div>
            <div class="header__language">
                <span class="currentLanguage">RU</span>
                <div class="header__language_list">
                    <a href="javascript:void(0)">EN</a>
                    <a href="javascript:void(0)">DE</a>
                </div>
            </div>
        </div>
    </div>
</header>